# 함수(function)
- 하나의 특별한 목적의 작업을 수행하기 위해 독립적으로 설계된 코드의 집합

### 함수를 사용하는 이유
- 반복적인 프로그래밍을 피할 수 있다.
- 모듈화(함수 만들기)로 인해 전체적인 코드의 가독성이 좋아진다
- 프로그램에 문제가 발생하거나 기능의 변경이 필요할 때 손쉽게 유지보수가 가능하다.

In [4]:
### 함수 문법

#def 함수명(매개변수):
#    실행문장
#    return 반환변수

In [5]:
#두 수를 더하는 함수 생성
def num_sum(num1,num2):
    result=num1+num2
    return result

num_sum(2,4)

6

In [8]:
#두 수를 입력 받아 뺀 결과를 출력하는 함수 생성
def number_minus(num1,num2):
    result = 0
    if num1>num2:
        result=num1-num2
    else :
        result=num2-num1
    return result

In [9]:
num1=int(input("첫 번째 정수 입력>>"))
num2=int(input("두 번째 정수 입력>>"))
result =number_minus(num1,num2)
result

첫 번째 정수 입력>>10
두 번째 정수 입력>>3

7

In [15]:
# 문자열을 입력받아 'ㅋ'을 제거하고 return하는 함수를 정의해보자

def s_replace(s):
    result = s.replace("ㅋ","ㅎ")
    return result

s = input("문자열 입력>>")
result = s_replace(s)
result

문자열 입력>>ㅋㅋㅋㅋㄴㄴㄴ

'ㅎㅎㅎㅎㄴㄴㄴ'

### replace() 함수
- replace(바꾸고 싶은 값,어떤걸로 바꿀지)

### 독스트링
- 함수의 설명을 작성<shift+Tab>

In [18]:
#덧셈과 뺄셈을 계산하는 함수

def cal(num1,num2,op):
    """덧셈과 뺄셈을 계산하는 함수"""
    if op=='+':
        return num1+num2
    else :
        return num1-num2

In [75]:
#약수 구하는 함수 만들기 첫번째
# 리턴이 없는경우
def divisor(num1):
    for i in range(1,num1+1,1):
        if num1%i==0:
            print(i,end=" ")
        
   # return a

In [76]:
divisor(10)

1 2 5 10

In [80]:
#약수 구하는 함수 만들기 두번째

def divisor2(num1):
    list =[]
    for i in range(1,num1+1):
        if num1 % i ==0:
            list.append(i)
            
    return list

In [81]:
divisor2(10)

[1, 2, 5, 10]

In [82]:
# 가변 매개변수를 활용해 모든 숫자를 더해서 반환하는 함수 생성

def add (*args):
    return sum(args)

In [83]:
add(1,2,3)

6

In [84]:
#함수의 결과값은 언제나 하나이다

def add_sub(num1,num2):
    return num1+num2,num1-num2

In [90]:
add_sub(10,7)

(17, 3)

In [88]:
result_add,result_sub =add_sub(10,7)

In [91]:
print(result_add)
print(result_sub)

17
3

In [92]:
# 제곱근 구하는 함수 만들기

def power_of_N(num,power=2):
    return num**power

In [96]:
power_of_N(3,5)

243

### 가변 매개변수(**)
- 딕셔너리 형태로 함수 내부에서 처리하고 싶을 때

In [97]:
def print_map(**kwargs):
    print(kwargs)
    
    for key,value in kwargs.items():
        print(key,"/",value)

In [99]:
print_map(하나 = 1,둘=2,수정="거ㅋㅋ")

{'하나': 1, '둘': 2, '수정': '거ㅋㅋ'}
하나 / 1
둘 / 2
수정 / 거ㅋㅋ

### replace() 함수
- 표기법
 - 바꾸고싶은 데이터.replace("바꾸고 싶은 값","바꿀 값")

In [100]:
review_list1 = ["윌 스미스가 하드캐리ㅋㅋㅋㅋㅋㅋㅋ",
               "쟈스민 너무 멋지고 팬 엄청나게 생길듯"]
review_list2 = ["색감도 노래도 너무 화려하고 재밌었어요ㅋㅋㅋ",
               "오늘부터 디즈니 팬입니다ㅋㅋㅋ",
               "디즈니 의 새로운 해석도 놀랍고. 윌스미스도 신의한수!"]

In [103]:
s=review_list1[0]

In [106]:
s.replace("ㅋ","")

'윌 스미스가 하드캐리'

In [109]:
#데이터 전처리 하기
#텍스트에 "ㅋ"을 모두 제거하고 싶을때
#for문을 활용해서 데이터에 하나하나 접근
for i in review_list1:
    print(i.replace("ㅋ",""))
for i in review_list2:
    print(i.replace("ㅋ",""))

윌 스미스가 하드캐리
쟈스민 너무 멋지고 팬 엄청나게 생길듯
색감도 노래도 너무 화려하고 재밌었어요
오늘부터 디즈니 팬입니다
디즈니 의 새로운 해석도 놀랍고. 윌스미스도 신의한수!

In [110]:
# 위의 코드를 함수로 정의해보자

def string_replace(list_test):
    for review in list_test:
        print(review.replace("ㅋ",""))

In [112]:
string_replace(review_list1)
string_replace(review_list2)

윌 스미스가 하드캐리
쟈스민 너무 멋지고 팬 엄청나게 생길듯
색감도 노래도 너무 화려하고 재밌었어요
오늘부터 디즈니 팬입니다
디즈니 의 새로운 해석도 놀랍고. 윌스미스도 신의한수!

In [124]:
#인수로 넘겨받은 숫자를 끼리끼리 더해서 반환하는 함수 생성

def sum_many(*args):
    return sum(args)

In [128]:
result=sum_many(1,2,33,2,34,6,76,76,23,655)
print(result)

908